### while

In [1]:
su = 0

while True:
    su = su + 1
    print(su)
    if su == 10:
        break

1
2
3
4
5
6
7
8
9
10

In [3]:
su = 0
while su <= 4:
    su += 1
    print(su)

1
2
3
4
5

In [6]:
su = 0
 
while True:
    su = su + 1
    if su % 2 == 0 and su % 3 == 0 and su % 4 == 0 and \
    su % 5 == 0 and su % 6 == 0 and su % 7 == 0 and \
    su % 8 == 0 and su % 9 == 0:
        print(su)
        break

2520

### For

In [8]:
str1 = 'ABC가나다123'
for c in str1:
    print(c)

A
B
C
가
나
다
1
2
3

In [10]:
list_val = [1,2,3,4,5]
for su in list_val:
    print(su)

1
2
3
4
5

In [13]:
months = {"january": 1, "february":2, "march":3}
print(type(months))
for c in months:  # 출력 순서는 다를 수 있음.
    print(c)      # Key 출력
    print(months[c])

<class 'dict'>
january
1
march
3
february
2

In [14]:
for i in range(5):    # 0 ~ 4
    print(i, end='')
 
print()
 
for i in range(1, 5):  # 1 ~ 4
    print(i, end='')
 
print()
 
for i in range(2, 12, 2):  # 2 ~ 10, 간격 2
    print(i, end='')
 
print()
 
for i in range(5, 1, -1):  # 5 ~ 2, 마지막은 출력안됨.
    print(i, end='')

01234
1234
246810
5432

In [16]:
index = 0

for index in range(1, 101, 1): # 1~100
    if index % 2 == 0 and index % 3 == 0 and index % 4 == 0:
        print(index)
        
print('최종값:', index)

12
24
36
48
60
72
84
96
최종값: 100

In [24]:
a = ['2 X %d = %d' % (i, i*2) for i in range(1,10)]
print(a)

['2 X 1 = 2', '2 X 2 = 4', '2 X 3 = 6', '2 X 4 = 8', '2 X 5 = 10', '2 X 6 = 12', '2 X 7 = 14', '2 X 8 = 16', '2 X 9 = 18']

In [25]:
for dan in range(1, 19):
    print()
    print(str(dan) + ' 단')
 
    for i in range(1, 10):
        print(str(dan) + ' X ' + str(i) + ' = ' + str(dan * i))

1 단
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9

2 단
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 단
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 단
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 단
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 단
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 단
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 단
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 단
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

10 단
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90

11 단
11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99

12 단
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108

13 단
13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117

14 단
14 X 1 = 14
14 X 2 = 28
14 X 3 = 42
14 X 4 = 56
14 X 5 = 70
14 X 6 = 84
14 X 7 = 98
14 X 8 = 112
14 X 9 = 126

15 단
15 X 1 = 15
15 X 2 = 30
15 X 3 = 45
15 X 4 = 60
15 X 5 = 75
15 X 6 = 90
15 X 7 = 105
15 X 8 = 120
15 X 9 = 135

16 단
16 X 1 = 16
16 X 2 = 32
16 X 3 = 48
16 X 4 = 64
16 X 5 = 80
16 X 6 = 96
16 X 7 = 112
16 X 8 = 128
16 X 9 = 144

17 단
17 X 1 = 17
17 X 2 = 34
17 X 3 = 51
17 X 4 = 68
17 X 5 = 85
17 X 6 = 102
17 X 7 = 119
17 X 8 = 136
17 X 9 = 153

18 단
18 X 1 = 18
18 X 2 = 36
18 X 3 = 54
18 X 4 = 72
18 X 5 = 90
18 X 6 = 108
18 X 7 = 126
18 X 8 = 144
18 X 9 = 162

In [26]:
even = 0
odd = 0
for i in range(1, 101):
    if i % 2 == 0:
        even = even + i
    else:
        odd = odd + i

print('짝수의 합: ' + str(even))
print('홀수의 합: ' + str(odd))

짝수의 합: 2550
홀수의 합: 2500