In [4]:
import pandas as pd
import numpy as np

In [3]:
s1 = pd.Series([1,3,5,7,9])
print(s1)

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [6]:
s1 = pd.Series([1,3,np.nan,7,9]) # NaN : Not a number
print(s1)

0    1.0
1    3.0
2    NaN
3    7.0
4    9.0
dtype: float64

In [9]:
arr = np.array([1,3,5,7,9])
print(arr)
print(type(arr))
s2 = pd.Series(arr)
print(s2)
print(type(s2))

[1 3 5 7 9]
<class 'numpy.ndarray'>
0    1
1    3
2    5
3    7
4    9
dtype: int32
<class 'pandas.core.series.Series'>

In [11]:
s3 = pd.DataFrame([[1,2],[3,4]], columns=['A', 'B'])
print(s3)
print(type(s3))

   A  B
0  1  2
1  3  4
<class 'pandas.core.frame.DataFrame'>

In [15]:
s4 = pd.DataFrame(np.random.randn(10,5), columns=['kor', 'eng', 'mat', 'python', 'ai'])
print(s4)

        kor       eng       mat    python        ai
0 -2.343980  0.727916  0.452574 -0.586692  0.293923
1 -1.599261  0.818415  0.298128 -1.632746  1.067972
2 -1.125299 -2.680495 -0.136437  0.564797 -1.211022
3 -0.796287 -0.675229 -0.811505  0.492620 -1.162766
4  2.110459  0.687029 -0.206935 -0.489426  0.623421
5 -0.196907  1.035668 -0.384705  0.286278  0.254600
6 -0.284830  0.027694 -2.246317  0.545430  1.000395
7 -0.126026 -1.035724  1.380291  0.217945 -0.326968
8  0.714468  1.426457  0.194371 -0.143697  0.166516
9  0.570372 -0.008878 -0.705754 -0.115491  2.401467

In [17]:
s5 = s4[(3 < s4.index) & (s4.index < 6)]
print(s5)

        kor       eng       mat    python        ai
4  2.110459  0.687029 -0.206935 -0.489426  0.623421
5 -0.196907  1.035668 -0.384705  0.286278  0.254600

In [18]:
print(s4.tail())

        kor       eng       mat    python        ai
5 -0.196907  1.035668 -0.384705  0.286278  0.254600
6 -0.284830  0.027694 -2.246317  0.545430  1.000395
7 -0.126026 -1.035724  1.380291  0.217945 -0.326968
8  0.714468  1.426457  0.194371 -0.143697  0.166516
9  0.570372 -0.008878 -0.705754 -0.115491  2.401467

In [19]:
s4.columns

Index(['kor', 'eng', 'mat', 'python', 'ai'], dtype='object')

In [20]:
print(s4.index)

RangeIndex(start=0, stop=10, step=1)

In [21]:
print(s4.describe())

             kor        eng        mat     python         ai
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean   -0.307729   0.032285  -0.216629  -0.086098   0.310754
std     1.266267   1.223982   0.953322   0.682974   1.076817
min    -2.343980  -2.680495  -2.246317  -1.632746  -1.211022
25%    -1.043046  -0.508641  -0.625492  -0.402993  -0.203597
50%    -0.240869   0.357362  -0.171686   0.051227   0.274261
75%     0.396273   0.795790   0.272189   0.441034   0.906151
max     2.110459   1.426457   1.380291   0.564797   2.401467

In [22]:
print(s3)

   A  B
0  1  2
1  3  4

In [23]:
print(s3['A'])

0    1
1    3
Name: A, dtype: int64

In [24]:
# print(s3['A','B']) # ERROR
print(s3[['A','B']])

   A  B
0  1  2
1  3  4

In [25]:
# print(s3[0]) # ERROR
print(s3[0:1])

   A  B
0  1  2

In [26]:
print(s3[1:2])

   A  B
1  3  4

In [27]:
print(s3.iloc[0]) # 행방향 출력

A    1
B    2
Name: 0, dtype: int64

In [28]:
d1 = s3[2 < s3]
print(d1)

     A    B
0  NaN  NaN
1  3.0  4.0

In [29]:
print(d1.dropna())

     A    B
1  3.0  4.0

In [30]:
d2 = d1 * 2
print(d2)

     A    B
0  NaN  NaN
1  6.0  8.0

In [31]:
d3 = d2.fillna(0) # NaN -> 0
print(d3)

     A    B
0  0.0  0.0
1  6.0  8.0

In [32]:
print(d3.mean()) # 행방향 평균 계산

A    3.0
B    4.0
dtype: float64

In [33]:
print(d3.mean(1)) # 열방향 평균 계산

0    0.0
1    7.0
dtype: float64

In [35]:
d3['C'] = (d3['A'] + d3['B']) / 2
print(d3)
d3['C'] = 1
print(d3)

     A    B    C
0  0.0  0.0  0.0
1  6.0  8.0  7.0
     A    B  C
0  0.0  0.0  1
1  6.0  8.0  1

In [36]:
d3['D'] = [5, 6]
print(d3)

     A    B  C  D
0  0.0  0.0  1  5
1  6.0  8.0  1  6

In [40]:
d4 = pd.DataFrame([[2, 4, 6, 20]], columns=['A', 'B', 'C', 'E'])
print(d4)

   A  B  C   E
0  2  4  6  20

In [41]:
d5 = pd.concat([d3, d4]) # DataFrame 결합, 변수명이 비교됨
print(d5)

     A    B  C    D     E
0  0.0  0.0  1  5.0   NaN
1  6.0  8.0  1  6.0   NaN
0  2.0  4.0  6  NaN  20.0

In [53]:
d6 = d5.reset_index(drop=True)
print(d6)

     A    B  C    D     E
0  0.0  0.0  1  5.0   NaN
1  6.0  8.0  1  6.0   NaN
2  2.0  4.0  6  NaN  20.0

In [54]:
print(d6.drop(2)) # 실제로 변수에는 적용이 안됨

     A    B  C    D   E
0  0.0  0.0  1  5.0 NaN
1  6.0  8.0  1  6.0 NaN

In [55]:
d6_1 = d6.drop(2)
print(d6_1)

     A    B  C    D   E
0  0.0  0.0  1  5.0 NaN
1  6.0  8.0  1  6.0 NaN

In [58]:
print(d6.drop(2, axis = 0)) # 0 : 행 삭제

     A    B  C    D   E
0  0.0  0.0  1  5.0 NaN
1  6.0  8.0  1  6.0 NaN

In [59]:
print(d6.drop('E', axis = 1)) # 1 : 열 삭제

     A    B  C    D
0  0.0  0.0  1  5.0
1  6.0  8.0  1  6.0
2  2.0  4.0  6  NaN