In [6]:
data = ['cat', 'bat', 'rat']
print(type(data))
print(data)
print(data[0])
print(data[-1])

<class 'list'>
['cat', 'bat', 'rat']
cat
rat

In [13]:
data = [['cat', 'bat', 'rat'], [10, 20, 30]]
print(data[0])
print(data[0][0])
print(data[1][0])
print(len(data))
print(len(data[0]))
data[0][0] = '고양이'
print(data)

['cat', 'bat', 'rat']
cat
10
2
3
[['고양이', 'bat', 'rat'], [10, 20, 30]]

In [16]:
data = data + ['A', 'B', 'C']
print(data)
data = data + [['A', 'B', 'C']]
print(data)

[['고양이', 'bat', 'rat'], [10, 20, 30], 'A', 'B', 'C', ['A', 'B', 'C'], 'A', 'B', 'C']
[['고양이', 'bat', 'rat'], [10, 20, 30], 'A', 'B', 'C', ['A', 'B', 'C'], 'A', 'B', 'C', ['A', 'B', 'C']]

In [2]:
data = [1,2,3] * 3
print(data)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [3]:
data = [1,2,3]
a, b, c = data
print("%d %d %d" % (a,b,c))

1 2 3

In [8]:
data = [1,2,3]
data.insert(0, 100)
print(data)
data.append(200)
print(data)
data.remove(200)
print(data)

[100, 1, 2, 3]
[100, 1, 2, 3, 200]
[100, 1, 2, 3]

In [10]:
data = [1,5,4,3,2,6]
data.sort()
print(data)
data.sort(reverse=True)
print(data)

[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [11]:
data = ['a', 'z', 'A', 'Z']
data.sort()
print(data)
 
data.sort(key = str.lower) # 문자의미 기준 정렬
print(data)

['A', 'Z', 'a', 'z']
['A', 'a', 'Z', 'z']